[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ytmusicapi = "*"

[dev-packages]
mypy = "*"
pyenchant = "*"
pylint = "*"
types-requests = "*"

[requires]
python_version = "3.12"
